
ul{
position: relative;
z-index: 1;
}

.slideshow {
	margin-left: auto;
	margin-right: auto;
   width: 350px;
   height: 200px;
   overflow: hidden;
   border: 3px solid #F2F2F2;
	 float: inherit;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
   width: 400%;
   height: 200px;
   padding:0; margin:0;
   list-style: none;
}
.slideshow li {
   float: left;
}
#navigation {
							z-index: 1000;
							background: green; height: 110px;
							text-align: center;
							font-family: fantasy;
							text-decoration-color: white;
							border-radius: 10px;
							margin-top: 0px;
						}
#footer {
	z-index: 1000;
	background: green; height: 110px;
	text-align: right;
	font-family: fantasy;
	text-decoration-color: white;
	border-radius: 10px;
	margin-top: 0px;
}
.fixNavigation {
							margin: 0px;
						  position: fixed;
						  top: 0;
						width: 100%;
							}
body{
	background: grey;
	text-align: justify;
	font-size: 24px;
}
.clear{
	clear: both;
}
img{
	height: 60%;
	border-radius: 10px;

}
#content
{
	margin: 3%;
	font-style: normal;
	color: white;
}

#loginForm{
	width: 20%;
	margin: 0 auto;
	background: #666;
	color: #FFF;
	padding: 4%;
	border-radius: 5%;
}
label{
	display: block;
	float: left;
	width: 45%;
}
label[for=login]{
	text-align: left;
}
label[for=motdepasse]{
	text-align: left;
}
label[for=email]{
	float:left;
	width: 100%;
	text-align: left;
}
input{
	float: left;
	width: 50%;
}
input.email{
	width: 100%;
}
input[type=button]{
	float: right;
	margin: 10% 0 0 0;
	clear: both;
	width: 100%;
}
.lienOublieMotdepasse{
        float: right;
        font-size: 10px;
        text-align: right;
        width: 100%;
	margin: 10px 0 0 0;
}
.overlay{
	z-index: 1000;
	background: #BBB;
}
.message{
	display: none;
	float: right;
	color: white;
	width: 200px;
	height: auto;
	padding: 10px;
	background: #DDD;
}
a:link{
	color: white;

}
.pagemenu > a
{
	color:green;
	text-decoration:none
}
.pagemenu:hover > a
	{
		color:green;
		text-decoration:none;
		font-weight:bold
		}
		.rubrique > a
		{
			color:white;text-decoration:none
			}
.rubrique:hover > a
{
	color:white;
	font-weight:bold;
	text-decoration:none
}
.pagesousmenu > a
{
	color:white;
	text-decoration:none
}
.conteneur_menu
{
	border-spacing:0px
	}
.conteneur_menu
{
	width:100%;
	display:table;
	height:100px
}
.conteneur_menu a
{
	text-decoration:none;
	width:100%;
	display:table-cell;
	vertical-align:middle;
	height:50px;
	text-align:center;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease
	}
.pagemenu a:hover
	{
		height:100px;
		background-color:green
		}
.pagemenu,
.rubrique
{
	background-color:green;
float:left;
position:relative;
width:33.333%;
text-align:center;
display:table
}
.sousmenu
{
	left:0;
	opacity:0;
	top:0;
	position:absolute;
	visibility:hidden;
	z-index:0;
	right:0
	}
.rubrique:hover .sousmenu
{
	opacity:1;
	background-color:green;
	visibility:visible;
	top:50px
	}
.pagesousmenu,
.pagesousmenu:hover
{
	width:100%;
	height:50px;
	display:table;
	vertical-align:middle;
	text-align:center
	}
@media screen and (min-device-width:1024px)
{
.sousmenu
{
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease
	}
}
